profiles {
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    gpu {
        docker.runOptions = '-u $(id -u):$(id -g)  --gpus all'
        singularity.runOptions='--nv'
        apptainer.runOptions='--nv'
        process.task.ext.gpu = true
    }
}

manifest {
    name            = 'scil-vital/BundleParc'
    description     = """Automatic white-matter parcellation without tractography."""
    version         = '1.0.0'
}

params {

    // Input, output and boilerplate options
    input            = null 
    outdir           = null
    clean_output     = true
    publish_dir_mode = 'copy'
		monochrome_logs  = false
    help             = false
    help_full        = false
		show_hidden      = false
    version          = false

    // ** BundleParc params ** 
    vram 							    = 24
    nb_pts                = 10
    min_blob_size         = 50
    mm                    = null 
    half_precision        = false
    keep_biggest_blob     = false
    continuous            = false
    bundleparc_checkpoint = null 

		//**DWI params**//
		b0_thr_extract_b0	  = 10
    dwi_shell_tolerance = 20

    //**Extract DTI shells using this value as maximum**//
    max_dti_shell_value                             = 1200
    dti_shells                                      = null

    //**Extract fODF shells using this value as minimum**//
    min_fodf_shell_value                            = 700
    fodf_shells                                     = null

    //**Compute fiber response function (frf)**//
    fa                                              = 0.7
    min_fa                                          = 0.5
    min_nvox                                        = 300
    roi_radius                                      = 20
    manual_frf                                      = "15,4,4"

    //**Mean fiber response function (frf)**//
    mean_frf                                        = false

    //**Compute fODF metrics**//
    sh_order                                        = 8
    fodf_metrics_a_factor                           = 2.0
    relative_threshold                              = 0.1
    max_fa_in_ventricle                             = 0.1
    min_md_in_ventricle                             = 0.003

    // Config options
    config_profile_name        = null
    config_profile_description = null

    custom_config_version      = 'master'
    custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
    config_profile_contact     = null
    config_profile_url         = null
}

includeConfig 'conf/betcrop_dwi2mask.config'
includeConfig 'conf/bundle_bundleparc.config'
includeConfig 'conf/reconst_fodf.config'
includeConfig 'conf/reconst_dti.config'

process {
    publishDir = { "${params.outdir}/$meta.id/${task.process.replaceAll(':', '-')}" }

    withLabel: process_gpu {
        ext.gpu = { workflow.profile.contains('gpu') }
        accelerator = { workflow.profile.contains('gpu') ? 1 : null }
    }

    withName: "BUNDLE_BUNDLEPARC" {
        maxForks = params.vram / 8.0
        ext.nb_pts = params.nb_pts
    }
}

// Set default registry for Apptainer, Docker, Podman, Charliecloud and Singularity independent of -profile
// Will not be used unless Apptainer / Docker / Podman / Charliecloud / Singularity are enabled
// Set to your registry if you have a mirror of containers
apptainer.registry    = 'docker.io'
docker.registry       = 'docker.io'
podman.registry       = 'docker.io'
singularity.registry  = 'docker.io'
charliecloud.registry = 'docker.io'



// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
    OPENBLAS_NUM_THREADS = 1
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

manifest {
    name            = 'scil-vital/BundleParc-flow'
    author          = """@AntoineTheb"""
    contributors    = [
        [
            name: '@AntoineTheb',
            affiliation: 'Sherbrooke Connectivity Imaging Lab (SCIL) - Université de Sherbrooke',
            email: 'antoine.theberge@usherbrooke.ca',
            github: 'https://github.com/AntoineTheb',
            contribution: ['author', 'maintainer', 'contributor'], // List of contribution types ('author', 'maintainer' or 'contributor')
            orcid: '0000-0002-3959-8316'
        ],
        [
            name: '@arnaudbore',
            affiliation: 'Sherbrooke Connectivity Imaging Lab (SCIL) - Université de Sherbrooke',
            email: 'arnaud.bore@usherbrooke.ca',
            github: 'https://github.com/arnaudbore',
            contribution: ['author', 'maintainer', 'contributor'],
            orcid: '0000-0002-4822-1211'
        ],
    ]
    homePage        = 'https://github.com/scil-vital/BundleParc-flow'
    description     = """BundleParc: automatic bundle parcellation without tractography."""
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=25.04.6'
    version         = '1.0.0'
    doi             = ''
}

// Nextflow plugins
plugins {
    id 'nf-schema@2.5.1' // Validation of pipeline parameters and creation of an input channel from a sample sheet
}

validation {
    defaultIgnoreParams = ["genomes"]
    monochromeLogs = params.monochrome_logs
}
