/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: "IMAGE_CONVERTDWI" {
        ext.strides = '-1 2 3 4'
    }

    withName: "BUNDLE_BUNDLEPARC" {
        ext.nb_pts                  = params.nb_pts
        ext.min_blob_size           = params.min_blob_size
        ext.continuous              = params.continuous
        ext.mm                      = params.mm
        ext.half_precision          = params.half_precision
        ext.keep_biggest_blob       = params.keep_biggest_blob
        maxForks                    = params.vram / 8.0

        publishDir = [
            path: { meta.session ? "${params.outdir}/${meta.id}/${meta.session}/bundleparc/" : "${params.outdir}/${meta.id}/bundleparc/" },
            mode: params.publish_dir_mode,
            saveAs: {
                filename -> filename
            }
        ]
    }
}
