process {
    withName: "BUNDLE_BUNDLEPARC" {
        publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
        ext.nb_pts = 10
        ext.keep_biggest_blob = true
        ext.gpu = false
        ext.bundles = "AF_left"
        ext.sh_basis = "descoteaux07"
    }
}
